#menu{
    /*border: 1px solid #000;
    width: 300px;*/
    margin-top: 20px;
}

#header{
    background-color: #6B5FEE;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    width: 30px;
    color: #FFF;
    text-align: center;
    
    padding: 15px;
}

li a:hover{
    background-color: #150898;;
    color: #FFF;
    text-decoration: none;
}

.form-control{
    margin-bottom: 10px;
}

#form{
    margin-top: 30px;
}

#form h1{
    margin-bottom: 20px;
}